.entity-section {
  display: flex;
  flex-direction: column;

  &__title {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: var(--gap-xl);
  }

  &__item-list {
    background: var(--bg-dark);
    padding: 8px;
    & a {
      text-decoration: none;
    }
  }

  &__buttons {
    display: flex;
    gap: var(--gap-s);
    margin-bottom: var(--gap-l);
  }

  &__content {
    flex-grow: 1;
    display: flex;
    gap: var(--gap-xxl);
  }

  &__item {
    color: white;
    display: block;

    &_active {
      background: var(--button-main);
      color: black;
    }
  }
}
