.entity-section {
  &__content {
    display: flex;
    gap: var(--gap-xxl);
  }

  &__item {
    color: white;
    display: block;

    &_active {
      background: var(--button-main);
      color: black;
    }
  }
}
