.time-management {
  padding-left: 24px;

  &__controls {
    display: flex;
    margin-bottom: 24px;
  }

  &__taker-radio {
    margin-top: 10px;
    margin-left: auto;
  }

  &__timeline-container {
    margin-bottom: 36px;
  }

  &__timeline-label {
    display: inline-block;
    padding: 4px;
    background: var(--button-main);
    font-weight: bold;
    border-radius: 4px 4px 0 0;
  }
}
