.time-management {
  width: 100%;
  padding: 0 var(--gap-l) var(--gap-l) var(--gap-l);
  position: relative;

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--gap-m);
    margin-bottom: var(--gap-l);
  }

  &__right-controls {
    display: flex;
    align-items: center;
    gap: var(--gap-ml);
  }

  &__taker-radio {
    margin-left: auto;
  }

  &__timeline-container {
    margin-bottom: var(--gap-xxl);
  }

  &__timeline-label {
    display: inline-block;
    padding: var(--gap-xs);
    background: var(--button-main);
    font-weight: bold;
    border-radius: 4px 4px 0 0;
  }
}
