.confirm-action {
  &__title {
    margin-bottom: var(--gap-ml) !important;
  }

  &__info {
    margin-bottom: var(--gap-l);
    white-space: pre-wrap;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: var(--gap-l);
  }
}
