.navigation-item {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 4px;
  cursor: pointer;

  &__link {
    text-decoration: none;
    color: #fff;
    &:visited {
      color: #fff;
    }
    &_active {
      background: var(--button-main);
      color: black;
    }
    &_active:visited {
      background: var(--button-main);
      color: black;
    }
  }

  &__item-group-popup {
    display: none;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding-top: 8px;
    transform: translateY(100%);
    flex-direction: column;
  }

  &__item-group {
    position: relative;
    &_active {
      background: var(--button-main);
      color: black;
    }
  }

  &__item-group:hover &__item-group-popup {
    display: flex;
  }
}
