.navigation-item {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 4px;
  cursor: pointer;

  &__link {
    text-decoration: none;
    color: #fff;
    &:visited {
      color: #fff;
    }
    &_active {
      background: var(--button-main);
      color: black;
    }
    &_active:visited {
      background: var(--button-main);
      color: black;
    }
    &_disabled,
    &_disabled:visited {
      color: grey;
      pointer-events: none;
    }
  }

  &__item-group-popup {
    display: none;
    z-index: 10;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    transform: translateY(100%);

    &-content {
      display: flex;
      margin-top: var(--gap-s);
      flex-direction: column;
      background: var(--bg-main);
      border: 1px solid var(--dark-grey);
      border-radius: 4px;
      padding: var(--gap-s);
    }
  }

  &__item-group {
    position: relative;
    &_active {
      background: var(--button-main);
      color: black;
    }
  }

  &__item-group:hover &__item-group-popup {
    display: block;
  }
}
