.loads-distribution {
  position: relative;
  flex-grow: 1;

  &__controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--gap-m);
  }

  &__select {
    width: 300px;
  }

  &__bottom-controls {
    display: flex;
    flex-direction: row-reverse;
  }

  &__pupil-item {
    border: 1px solid grey;
    padding: var(--gap-s);
    margin-bottom: var(--gap-m);
  }

  &__pupil-title {
    font-weight: bold;
  }

  &__subject-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__subject-title {
    &_special {
      text-decoration: underline;
    }
  }
}
