.confirm-span-change {
  &__title {
    margin-bottom: 16px !important;
  }

  &__info {
    white-space: pre-line;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__time-input {
    margin: 0 12px;
    width: 48px;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
  }
}
