.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--gap-xs);
  background: var(--bg-dark2);

  &__content {
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 48px;
    height: 48px;
    background: url(./clef.svg) center center no-repeat;
  }

  &__username {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
  }

  &__logout {
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      color: var(--text-selected);
    }
  }
}
