.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--gap-xs);
  background: var(--bg-main);

  &__logo {
    width: 48px;
    height: 48px;
    background: url(./clef.svg) center center no-repeat;
  }

  &__username {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__logout {
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      color: var(--button-tertiary);
    }
  }
}
