:root {
  --bg-main: #acd4e1;
  --bg-secondary: #fff;
  --bg-grey: #dcdcdc;
  --bg-dark: #5c6db5;
  --bg-dark2: #387c92;
  --button-main: #f9e45b;
  --button-secondary: #6db784;
  --button-tertiary: #1b4d89;
  --button-quaternary: #B36083;
  --light-grey: #d3d3d3;
  --dark-grey: #808080;
  --text-selected: #f9f871;
  --font-main: 14px "Tahoma", sans-serif;

  --gap-xs: 4px;
  --gap-s: 8px;
  --gap-m: 12px;
  --gap-ml: 16px;
  --gap-l: 24px;
  --gap-xl: 28px;
  --gap-xxl: 36px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background: var(--bg-main);
  font: var(--font-main);
}

#root {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
