.schedule-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);

  &__pupil-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-right {
      display: flex;
      align-items: center;
      gap: var(--gap-s);
    }
  }

  &__add-controls {
    display: flex;
    align-items: center;
    gap: var(--gap-m);
  }

  &__pupil-field {
    width: 0;
    flex-grow: 1;
  }
}
